<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="movieName" value="二代妖精"></add>
    <add key="roomNum" value="6"></add>
    <add key="time" value="10:30"></add>
    <add key="date" value="2018.01.15"></add>
    <add key="price" value="0"></add>
    <add key="savePath" value="D://test2.doc"></add>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="LogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogConsoleApp.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>